@import "bootstrap-reboot.min";
*, *:after, *:before, input, button, div {
    outline: 0 !important;
    border: none;
    &:focus, &:active, &:hover {
        outline: 0 !important;
        border: none;
    }
}
body {
    background: #22255D;
    font-family: 'Raleway', sans-serif;
}
.comp {
    color: green;
    text-align: center;
    transform: translateY(15px);
    font-size: 16px;
    font-weight: 600;
}
.container {
    width: 100%;
    margin: auto;
    max-width: 1160px;
    padding: 0 15px;
}
.circle-link {
    background: linear-gradient(118.16deg, #87F2E7 -181.65%, #2E37F2 117.23%);
    width: 32px;
    height: 32px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    transition: 0.3s all;
    &:hover {
        background: linear-gradient(118.16deg, #87F2E7 -181.65%, #080ff2 117.23%);
    }
}
.btn-link {
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: linear-gradient(118.16deg, #87F2E7 -181.65%, #2E37F2 117.23%);
    border-radius: 50px;
    width: 120px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-left: 10px;
    transition: 0.3s all;
    &:hover {
        background: linear-gradient(118.16deg, #87F2E7 -181.65%, #080ff2 117.23%);
        color: #fff;
        text-decoration: none;
    }
}
h2 {
    font-size: 50px;
    line-height: 1.5;
    color: #fff;
    font-weight: 600;
    span {
        font-weight: 300;
        color: #87F2E7;

    }
}
.header {
    padding-top: 30px;
    background: url('../img/bg-first.png') no-repeat center center/cover;
    &-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-menu {

    }
    .nav-list {

        ul {
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                &:not(:last-child) {
                    margin-right: 25px;
                }
                a {
                    font-weight: bold;
                    font-size: 16px;
                    color: #FFFFFF;
                    text-decoration: none;
                    position: relative;
                    transition: 0.3s all;
                    &:after {
                        content: '';
                        position: absolute;
                        bottom: -5px;
                        left: 0;
                        width: 0;
                        height: 2px;
                        background: #87F2E7;
                        transition: 0.3s all;
                    }
                    &:hover {
                        color: #87F2E7;
                        &:after {
                            width: 20px;
                        }
                    }
                }

            }
        }
    }
    &-link {
        display: flex;
        align-items: center;
        .circle-link {
            &:first-child {
                svg {
                    transform: translate(-2px,1px);
                }
            }
            &:nth-child(2) {
                svg {
                    transform: translate(1px,1px);
                }
            }
            &:nth-child(3) {
                svg {
                    transform: translate(0,-1px);
                }
            }
        }
    }
    &-bottom {
        padding-top: 60px;
        .sub-header {
            font-weight: bold;
            font-size: 28px;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            color: #87F2E7;
            line-height: 1.7;
        }
        h1 {
            font-weight: bold;
            font-size: 60px;
            line-height: 1.5;
            color: #FFFFFF;
            margin-bottom: 30px;
        }
        p {
            font-weight: 500;
            font-size: 21px;
            line-height: 1.5;
            color: #FFFFFF;
        }
        .btn-link {
            margin: 0;
            width: 180px;
            height: 50px;
            background: linear-gradient(118.16deg, #87F2E7 -181.65%, #2E37F2 117.23%);
            border-radius: 60px;
            margin-top: 40px;
            &:hover {
                background: linear-gradient(118.16deg, #87F2E7 -181.65%, #080ff2 117.23%);

            }
            svg {
                margin-left: 15px;
            }
        }
    }
}
.vision {
    margin-top: 120px;
    margin-bottom: 170px;
    background: #262626;
    padding: 70px 0;
    h2 {
        display: flex;
        align-items: center;
        margin-bottom: 70px;
        span {
            margin-right: 10px;
        }
        .line {
            background: #FFFFFF;
            width: 160px;
            height: 7px;
            margin-right: 40px;
            display: flex;
        }
    }
    p {
        font-size: 21px;
        line-height: 1.5;
        color: rgba(255, 255, 255, 0.7);
        margin: 0;
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
}
.our-team {
    background: url('../img/twobg.png') no-repeat center center/cover;
    h2 {
        text-align: center;
        position: relative;
        margin-bottom: 85px;
        &:after {
            content: '';
            position: absolute;
            bottom: -15px;
            left: 50%;
            height: 7px;
            background: #FFFFFF;
            width: 160px;
            transform: translateX(-50%);
        }
    }
    &-wrap {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    &-block {
        width: 25%;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 20px;
        img {
            margin: auto;
            border-radius: 100%;
            overflow: hidden;
        }
        h3 {
            font-weight: bold;
            font-size: 24px;
            line-height: 150%;
            color: #FFFFFF;
            transform: translateY(-30px);
        }
        h4 {
            font-weight: bold;
            font-size: 16px;
            line-height: 150%;
            text-transform: uppercase;
            color: rgba(255, 255, 255, 0.6);
            transform: translateY(-30px);
        }

    }
}
.subscribe {
    margin: 145px 0 120px;
    background: #262626;
    padding: 60px;
    h2 {
        text-align: center;
        position: relative;
        margin-bottom: 70px;
        &:after {
            content: '';
            position: absolute;
            bottom: -15px;
            left: 50%;
            height: 7px;
            background: #FFFFFF;
            width: 160px;
            transform: translateX(-50%);
        }
    }
    .form {
        max-width: 720px;
        margin: auto;
        &-one-line {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        p {
            font-size: 16px;
            line-height: 150%;
            color: rgba(255, 255, 255, 0.7);
            margin: 0;
            margin-bottom: 5px;
        }
        label {
            width: 48%;
            margin-bottom: 37px;
        }
        input, select {
            width: 100%;
            background: rgba(255, 255, 255, 0.72);
            border-radius: 20px;
            border: none;
            font-size: 16px;
            padding: 13px 25px;
        }
        button {
            border: none;
            margin: 40px auto 0;
            width: 150px;
            height: 50px;
            display: flex;
            align-items: center;
            font-weight: 500;
            font-size: 16px;
            line-height: 150%;
            text-transform: uppercase;
            color: #FFFFFF;
            svg {
                margin-left: 15px;
            }
        }
    }
}
.footer {
    //background: #000;
    position: relative;
    .map {
        position: absolute;
        left: 0;
        z-index: 0;
        top: 160px;
        width: 100%;
        height: calc(100% - 110px);
        overflow: hidden;
        img {
            width: 100%;
            object-fit: cover;
            object-position: center center;
            height: 100%;
        }
    }
    .container {
        position: relative;
        z-index: 2;
    }
    h2 {
        text-align: center;
        position: relative;
        margin-bottom: 70px;
        &:after {
            content: '';
            position: absolute;
            bottom: -15px;
            left: 50%;
            height: 7px;
            background: #FFFFFF;
            width: 160px;
            transform: translateX(-50%);
        }
    }
    &-map {
        padding-top: 66px;
        &-block {
            background: rgba(38, 38, 38, 0.9);
            box-shadow: 4px 3px 32px rgba(0, 0, 0, 0.32);
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 400px;
            padding: 60px 25px;
            height: 437px;
            &-title {
                font-weight: bold;
                font-size: 24px;
                line-height: 130%;
                color: #FFFFFF;
                margin-bottom: 50px;
            }
            &-address {
                font-weight: bold;
                font-size: 16px;
                line-height: 130%;
                letter-spacing: 0.03em;
                color: #FFFFFF;
                margin-bottom: 20px;
            }
            &-social, &-address {
                display: flex;
                align-items: center;
                a:first-child, span:first-child {
                    margin-right: 15px;
                }
            }
            &-social {
                margin-bottom: 20px;
                a {
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 130%;
                    letter-spacing: 0.03em;
                    color: #FFFFFF;
                    &:hover {
                        transition: 0.3s all;
                        color: rgb(168, 168, 168);
                        text-decoration: none;
                    }
                }
            }
        }
    }
    &-copy {
        margin-top: 120px;
        background: #262626;
        font-weight: 300;
        font-size: 18px;
        line-height: 130%;
        text-align: center;
        padding: 20px 0;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.7);
    }
}
@media screen and (max-width: 1200px) {
    .header-bottom .sub-header {
        font-size: 22px;
    }
    .header-bottom h1 {
        font-size: 50px;
    }
    .header-bottom p {
        font-size: 18px;
    }
    h2 {
        font-size: 40px;
    }
    .vision h2 .line {
        width: 120px;
        height: 5px;
    }
    .vision p {
        font-size: 18px;
    }
    .vision {
        margin-bottom: 60px;
        margin-top: 60px;
    }
    .our-team-block h3 {
        font-size: 20px;
    }
    .our-team-block {
        width: 33%;
    }
    .subscribe {
        margin: 60px 0;
    }
}
@media (min-width: 991px) {
    .humburger {
        display: none;
    }
    .exit {
        display: none;
    }
}
@media screen and (max-width: 991px) {
    .nav-list {
        right: -320px;
        height: 100vh;
        transition: 0.3s all;
        width: 320px;
        top: 0;
        position: fixed;
        background: #44546A;
        z-index: 100;
        &.active {
            right: 0;
        }
        .exit {
            position: absolute;
            top: 15px;
            right: 15px;
            width: 30px;
            height: 30px;
            svg {
                path {
                    fill: #fff;
                }
            }
        }
        ul {
            padding: 100px 30px !important;
            flex-direction: column;
            li {
                margin-right: 0 !important;
                text-align: center;
                margin-bottom: 20px;
                a {
                    font-size: 24px !important;
                }
            }
        }
    }
    .header-menu {
        order: 2;
    }
    .humburger {
        display: flex;
        flex-direction: column;
        span {
            width: 25px;
            height: 2px;
            background: #fff;
            margin-bottom: 5px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .header-bottom .sub-header {
        font-size: 22px;
    }
    .header-bottom h1 {
        font-size: 45px;
    }
    .header-bottom p {
        font-size: 16px;
    }
    h2 {
        font-size: 35px;
    }
    .vision h2 .line {
        width: 100px;
        height: 5px;
    }
    .vision p {
        font-size: 16px;
    }
    .vision {
        margin-bottom: 45px;
        margin-top: 45px;
    }
    .our-team-block h3 {
        font-size: 18px;
    }
    .vision h2 {
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 768px) {
    .header-bottom h1 {
        font-size: 38px;
        line-height: 1.4;
    }
    .vision {
        padding: 30px 0;
    }
    .our-team h2 {
        margin-bottom: 30px;
    }
    .our-team-block {
        width: 50%;
        margin-bottom: 0;
    }
    .subscribe {
        padding: 30px 0;
    }
}
@media screen and (max-width: 576px) {
    .header-logo {
        margin-right: 10px;
        img {
            width: 100%;
        }
    }
    .header-link {
        .circle-link {
            width: 24px;
            height: 24px;
            margin-right: 10px;
            svg {
                transform: scale(0.7) !important;
            }
        }
        .btn-link {
            margin: 0;
            font-size: 16px;
            width: 75px;
            height: 30px;
            margin-right: 10px;
        }
    }
    .header-bottom {
        padding-top: 30px;
    }
    .header-bottom .sub-header {
        font-size: 20px;
    }
    .header-bottom h1 {
        font-size: 32px;
        line-height: 1.4;
    }
    .vision h2 .line {
        width: 60px;
        margin-right: 15px;
        height: 4px;
    }
    .our-team-block {
        width: 100%;
        &:not(:first-child) {
        }
    }
    .subscribe .form label {
        width: 100%;
    }
    .footer-map-block {
        width: 100%;
    }
    .footer-copy {
        font-size: 14px;
    }
}
@media screen and (max-width: 400px) {
    .header-link .circle-link svg {
        transform: scale(0.6) !important;
    }
    .header-link .circle-link {
        width: 20px;
        height: 20px;
    }
    .header-link .btn-link {
        font-size: 14px;
        width: 45px;
        height: 25px;
    }
    .humburger span {
        width: 20px;
    }
    .header-bottom .sub-header {
        font-size: 18px;
    }
    .header-bottom h1 {
        font-size: 28px;
        line-height: 1.3;
    }
    .header-bottom p {
        font-size: 15px;
    }
    .footer-map-block-address {
        font-size: 13px;
        margin-bottom: 0;
    }
}
.thanks {
    height: 100vh;
}
.wrap-thanks {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url("../img/thanks-bg.png");
    .header {
        &-bottom {

            text-align: center;
            h1 {
                margin: 0;
            }
            p {
                max-width: 640px;
                margin: auto;
                padding-top: 40px;
                padding-bottom: 50px;
            }
            a {
                margin: auto;

            }
        }
    }
}